.github__corner__link__container {
  position: absolute;
  right: -16px;
  z-index: 3;
}

.a__link {
  position: absolute;
  right: 12px;
  bottom: 3px;
}

.img__link {
  width: 25px;
  height: 25px;
}

.material__card {
  position: relative;
  height: 0;
  padding-bottom: calc(100% - 16px);
  margin-bottom: 6.6em;
}

.material__card h2 span {
  display: block;
}

.material__card h2::before {
  content: " ";
  position: absolute;
  left: 0;
  top: -16px;
  width: 0;
  border: 8px solid;
  transition: 0.3ms;
  border-top-color: transparent;
  border-right-color: #132c4c;
  border-bottom-color: #132c4c;
  border-left-color: transparent;
}

.material__card h2::after {
  content: " ";
  position: absolute;
  left: 0;
  width: 0;
  border: 8px solid;
  border-top-color: #1f4b7a;
  border-right-color: #1f4b7a;
  border-bottom-color: transparent;
  border-left-color: transparent;
  top: auto;
  bottom: 0;
}

::before,
::after {
  box-sizing: border-box;
}

.material__card h2 {
  position: absolute;
  top: calc(100% + 32px);
  /* makes it go to the top */
  /* bottom: calc(0 + 16px); */
  left: 0;
  width: calc(100% + 16px);
  padding: 10px 16px;
  color: #fff;
  font-size: 1.4em;
  line-height: 1.6em;
  margin: 0;
  z-index: 10;
  background-color: #1f4b7a;
  transition: all 0.3ms;
}

.material__card h2 strong {
  color: #fff;
  font-weight: 400;
  display: block;
  font-size: 0.8em;
}

.mc__content {
  position: relative;
  right: 0;
  top: 0;
  bottom: 16px;
  left: 16px;
}

.img__responsive {
  display: block;
  max-width: 100%;
  max-height: 390px;
  height: auto;
}

.img__container {
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  /* below turns image into small */
  /* -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  left: 0;
  top: 12px;
  width: 60px;
  height: 60px;
  z-index: 20; */
}
/* 
.mc__description {
  position: absolute;
  top: 100%;
  right: 30px;
  left: 30px;
  bottom: 54px;
  overflow: hidden;
  opacity: 0;
} */
