li.nav__items {
  font-size: 18px;
  padding-bottom: 15px;
}

li.nav__items:hover {
  color: #1f4b7a;
}

.toggle__menu {
  display: none;
  justify-content: flex-end;
  float: right;
  z-index: 1000;
  width: 100%;
}

ul.sidebar.d__flex {
  flex-wrap: wrap;
  height: 50%;
  position: fixed;
  right: 0%;
  background: #010101;
  justify-content: center;
  width: 200px;
  top: 0%;
  flex-direction: column;
  border-radius: 20px 0px 0px 20px;
}

li.sideNavbar {
  padding: 25px 25px;
  z-index: 10000;
}

li.sideNavbar:hover {
  padding: 25px 25px;
  z-index: 10000;
  color: #1f4b7a;
}

/* RESPONSIVE */
@media only screen and (max-width: 820px) {
  .navigation.pxy__30 {
    display: none;
  }

  .toggle__menu {
    display: flex;
  }

  svg.bi.bi-justify.white.pointer {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: 425px) {
  .toggle__menu {
    display: flex;
  }
}
