.home__bg {
  background-image: url(./img/bg.jpg);
  background-color: #010101;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
}

.home__content {
  padding: 125px 0px;
}

h1.home__text {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3px;
  color: rgba(198, 201, 216, 0.75) !important;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.8);
}

h2.home__text {
  font-size: 54px;
  line-height: 54px;
  font-weight: 800;
  font-family: Montserrat, sans-serif;
}

h3.home__text {
  font-size: 50px;
  font-weight: 800;
  font-family: Montserrat, sans-serif;
  line-height: 40px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 1.8);
}
h4.home__text {
  font-size: 50px;
  font-weight: 800;
  line-height: 40px;
  font-family: Montserrat, sans-serif;
}

.header {
  transition: 0.4s all ease;
}

.header.active {
  position: fixed;
  z-index: 1000;
  width: 100%;
  padding: 0px 30px;
  background-color: #191919;
}

/* RESPONSIVE */
@media only screen and (max-width: 820px) {
  .header {
    justify-content: space-between;
  }

  h2.white.pz__10 {
    font-size: 50px !important;
  }
}
@media only screen and (max-width: 425px) {
  h1.home__text {
    font-size: 14px;
  }

  h2.home__text.pz__10 {
    font-size: 32px;
  }

  h3.sweet.pz__10 {
    font-size: 40px;
  }

  h4.home__text.pz__10 {
    font-size: 32px;
  }
}
