.project {
  background-color: #191919;
}

h1.project__heading {
  margin-bottom: 10px;
  font-weight: 700;
  text-align: start;
  font-family: Montserrat, sans-serif;
  font-size: 60px;
  line-height: 54px;
}

p.heading {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
}
